# Advanced SQL for Data Engineers - Coursera

Author: Enrico Findley

In [24]:
%pip install ipython-sql
%load_ext sql
%pip install pandas

Requirement already satisfied: ipython-sql in .\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in .\.venv\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in .\.venv\lib\site-packages (from ipython-sql) (8.14.0)
Requirement already satisfied: sqlalchemy>=2.0 in .\.venv\lib\site-packages (from ipython-sql) (2.0.17)
Requirement already satisfied: sqlparse in .\.venv\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in .\.venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in .\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in .\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in .\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in .\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in .\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in .\.venv\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in .\.venv\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in .\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in .\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in .\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in .\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in .\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in .\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Requirement already satisfied: pandas in .\.venv\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in .\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in .\.venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in .\.venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in .\.venv\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in .\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

THIS PROJECT USE DATABASE MYSQL FROM PHPMYADMIN SO INSTALL IT FIRST

In [27]:
import pandas,csv

%sql mysql://root:@localhost/chicago

In [26]:
df_census = pandas.read_csv('dataset/ChicagoCensusData.csv')
df_census.to_sql("chicago_census_data", con, if_exists='replace', index=False,method="multi")
df_crime = pandas.read_csv('dataset/ChicagoCrimeData.csv')
df_crime.to_sql("chicago_crime_data", con, if_exists='replace', index=False,method="multi")

# Read the CSV file into a DataFrame
df_public_schools = pandas.read_csv('dataset/ChicagoPublicSchools.csv')

# Determine the split point
total_rows = len(df_public_schools)
split_point = int(total_rows / 2)

# Split the DataFrame into two equal parts
df_public_schools_1 = df_public_schools.iloc[:split_point]
df_public_schools_2 = df_public_schools.iloc[split_point:split_point*2]

df_public_schools_1.to_sql("chicago_public_schools_data", con, if_exists='replace', index=False,method="multi")
df_public_schools_2.to_sql("chicago_public_schools_data", con, if_exists='replace', index=False,method="multi")

283

## Exercise 1: Using Joins

You have been asked to produce some reports about the communities and crimes in the Chicago area. You will need to use
SQL join queries to access the data stored across multiple tables.


### Question 1

##### Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [28]:
%%sql 
SELECT CPS.Name_of_School, CPS.Community_Area_Name, CPS.Average_Student_Attendance FROM chicago_public_schools_data as CPS JOIN chicago_census_data as CC ON CPS.Community_Area_Number = CC.Community_Area_Number WHERE CC.Hardship_Index = 98

 * mysql://root:***@localhost/chicago
1 rows affected.

[('William E B Dubois Elementary School', 'RIVERDALE', '93.30%')]

### Question 2

##### Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [29]:
%%sql
SELECT
  CD.Case_Number,
  CD.Primary_Type,
  CC.Community_Area_Name,
  CC.NAME_OF_SCHOOL 
FROM
  chicago_crime_data AS CD
JOIN
  chicago_public_schools_data AS CC ON CD.COMMUNITY_AREA_NUMBER = CC.COMMUNITY_AREA_NUMBER limit 5

 * mysql://root:***@localhost/chicago
5 rows affected.

[('HK587712', 'THEFT', 'BRIGHTON PARK', 'Nathan S Davis Elementary School'),
 ('HK587712', 'THEFT', 'BRIGHTON PARK', 'Thomas Kelly High School'),
 ('HK456306', 'THEFT', 'HUMBOLDT PARK', 'Laura S Ward Elementary School'),
 ('HK456306', 'THEFT', 'HUMBOLDT PARK', 'Martin A Ryerson Elementary School'),
 ('HK456306', 'THEFT', 'HUMBOLDT PARK', 'Morton School of Excellence')]

## Exercise 2: Creating a View

For privacy reasons, you have been asked to create a view that enables users to select just the school name and the icon
fields from the CHICAGO_PUBLIC_SCHOOLS table. By providing a view, you can ensure that users cannot see the
actual scores given to a school, just the icon associated with their score. You should define new names for the view
columns to obscure the use of scores and icons in the original table.


### Question 1

##### Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

In [30]:
%%sql
DROP VIEW IF EXISTS school;
CREATE VIEW school AS
SELECT NAME_OF_SCHOOL AS School_Name, Safety_Icon AS Safety_Rating, Family_Involvement_Icon AS Family_rating, Environment_Icon as Environment_Rating, Instruction_Icon as Instruction_Rating, Leaders_Icon as Leaders_rating, Teachers_Icon as Teachers_Rating
FROM chicago_public_schools_data;

 * mysql://root:***@localhost/chicago
0 rows affected.
0 rows affected.

[]

Write and execute a SQL statement that returns all of the columns from the view.

In [31]:
%%sql
select * from school limit 3;

 * mysql://root:***@localhost/chicago
3 rows affected.

[('John H Hamline Elementary School', 'Weak', 'Weak', 'Weak', 'Average', 'Weak', 'Weak'),
 ('John H Kinzie Elementary School', 'Strong', 'NDA', 'Average', 'Average', 'Weak', 'NDA'),
 ('John H Vanderpoel Elementary Magnet School', 'Strong', 'NDA', 'Weak', 'Weak', 'Weak', 'NDA')]

Write and execute a SQL statement that returns just the school name and leaders rating from the view.

In [32]:
%%sql
select School_Name, Leaders_Rating from school limit 3;

 * mysql://root:***@localhost/chicago
3 rows affected.

[('John H Hamline Elementary School', 'Weak'),
 ('John H Kinzie Elementary School', 'Weak'),
 ('John H Vanderpoel Elementary Magnet School', 'Weak')]

## Exercise 3: Creating a Stored Procedure

The icon fields are calculated based on the value in the corresponding score field. You need to make sure that when a score
field is updated, the icon field is updated too. To do this, you will write a stored procedure that receives the school id and a
leaders score as input parameters, calculates the icon setting and updates the fields appropriately.


### Question 1

##### Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don’t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

In [38]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    in_School_ID INT,
    in_Leader_Score INT
)
BEGIN

END

 * mysql://root:***@localhost/chicago
0 rows affected.

[]

### Question 2

##### Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

In [43]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    in_School_ID INT,
    in_Leader_Score INT
)
BEGIN
    UPDATE chicago_public_schools_data SET Leader_Score = in_Leader_Score WHERE School_ID = in_School_ID;
END

 * mysql://root:***@localhost/chicago
0 rows affected.

[]

### Question 3

##### Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

In [46]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    in_School_ID INT,
    in_Leader_Score INT
)
BEGIN
    UPDATE chicago_public_schools_data SET Leaders_Score = in_Leader_Score WHERE School_ID = in_School_ID;
    IF (in_Leader_Score >= 80) AND (in_Leader_Score <= 99) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 60) AND (in_Leader_Score <= 79) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 40) AND (in_Leader_Score <= 59) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Average" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 20) AND (in_Leader_Score <= 39) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Weak" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 0) AND (in_Leader_Score <= 19) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very weak" WHERE School_ID = in_School_ID;
    END IF;
END

 * mysql://root:***@localhost/chicago
0 rows affected.

[]

### Question 4

##### Run your code to create the stored procedure and write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

**BEFORE CALLING PROCEDURE FOR SCHOOL ID 609964 DATA**

In [60]:
%%sql
select School_ID,NAME_OF_SCHOOL,Leaders_Score,Leaders_Icon FROM `chicago_public_schools_data` where School_ID = 609964;

 * mysql://root:***@localhost/chicago
1 rows affected.

[(609964, 'John H Hamline Elementary School', '17', 'Very weak')]

In [80]:
%%sql
CALL UPDATE_LEADERS_SCORE(609964,50);

 * mysql://root:***@localhost/chicago
2 rows affected.

[]

**AFTER CALLING PROCEDURE FOR SCHOOL ID 609964 DATA**

In [62]:
%%sql
select School_ID,NAME_OF_SCHOOL,Leaders_Score,Leaders_Icon FROM `chicago_public_schools_data` where School_ID = 609964;

 * mysql://root:***@localhost/chicago
1 rows affected.

[(609964, 'John H Hamline Elementary School', '50', 'Average')]

## Exercise 4: Using Transactions

You realise that if someone calls your code with a score outside of the allowed range (0-99), then the score will be updated
with the invalid data and the icon will remain at its previous value. There are various ways to avoid this problem, one of
which is using a transaction.


### Question 1

##### Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

In [63]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    in_School_ID INT,
    in_Leader_Score INT
)
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    START TRANSACTION;

    -- You can include more SQL statements as needed
    UPDATE chicago_public_schools_data SET Leaders_Score = in_Leader_Score WHERE School_ID = in_School_ID;
    IF (in_Leader_Score >= 80) AND (in_Leader_Score <= 99) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 60) AND (in_Leader_Score <= 79) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 40) AND (in_Leader_Score <= 59) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Average" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 20) AND (in_Leader_Score <= 39) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Weak" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 0) AND (in_Leader_Score <= 19) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very weak" WHERE School_ID = in_School_ID;
    ELSE
      ROLLBACK;
    END IF;
END

 * mysql://root:***@localhost/chicago
0 rows affected.

[]

### Question 2

##### Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.Then run your code to replace the stored procedure. Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38. Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

In [81]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(in_School_ID INT,in_Leader_Score INT)
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;
    START TRANSACTION;
    UPDATE chicago_public_schools_data SET Leaders_Score = in_Leader_Score WHERE School_ID = in_School_ID;
    IF (in_Leader_Score >= 80) AND (in_Leader_Score <= 99) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 60) AND (in_Leader_Score <= 79) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Strong" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 40) AND (in_Leader_Score <= 59) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Average" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 20) AND (in_Leader_Score <= 39) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Weak" WHERE School_ID = in_School_ID;
    ELSEIF (in_Leader_Score >= 0) AND (in_Leader_Score <= 19) THEN
      UPDATE chicago_public_schools_data SET Leaders_Icon = "Very weak" WHERE School_ID = in_School_ID;
    ELSE
      ROLLBACK;
    END IF;
    COMMIT;
END

 * mysql://root:***@localhost/chicago
0 rows affected.

[]

**BEFORE CALLING PROCEDURE FOR SCHOOL ID 609964 DATA**

In [82]:
%%sql
select School_ID,NAME_OF_SCHOOL,Leaders_Score,Leaders_Icon FROM `chicago_public_schools_data` where School_ID = 609964;

 * mysql://root:***@localhost/chicago
1 rows affected.

[(609964, 'John H Hamline Elementary School', '50', 'Average')]

**AFTER CALLING PROCEDURE FOR SCHOOL ID 609964 DATA**

In [83]:
%%sql
CALL UPDATE_LEADERS_SCORE(609964,38);
select School_ID,NAME_OF_SCHOOL,Leaders_Score,Leaders_Icon FROM `chicago_public_schools_data` where School_ID = 609964;

 * mysql://root:***@localhost/chicago
2 rows affected.
1 rows affected.

[(609964, 'John H Hamline Elementary School', '38', 'Weak')]

**TESTING INVALID SCORE**

In [84]:
%%sql
CALL UPDATE_LEADERS_SCORE(609964,101);
select School_ID,NAME_OF_SCHOOL,Leaders_Score,Leaders_Icon FROM `chicago_public_schools_data` where School_ID = 609964;

 * mysql://root:***@localhost/chicago
1 rows affected.
1 rows affected.

[(609964, 'John H Hamline Elementary School', '38', 'Weak')]